/* Sweet Alerts Styles */

.test{
    display: flex;
    flex-direction: column;
}

/* General Settings */

.swal2-container:not(.swal2-top):not(.swal2-top-start):not(.swal2-top-end):not(.swal2-top-left):not(.swal2-top-right):not(.swal2-center-start):not(.swal2-center-end):not(.swal2-center-left):not(.swal2-center-right):not(.swal2-bottom):not(.swal2-bottom-start):not(.swal2-bottom-end):not(.swal2-bottom-left):not(.swal2-bottom-right):not(.swal2-grow-fullscreen)>.swal2-modal{
    display: flex;
    position: absolute;
    background-color: #444;
    box-shadow: 0px 0px 12px 0px;
}
.swal2-container.swal2-shown{
    position: absolute;
    overflow-y: auto;
    width: 84%;
    z-index: 1;
    display: flex;
    left: 16em;
    justify-content: center;
    align-items: center;
}

.swal2-popup{
    border-radius: 1rem;
}
.swal2-styled.swal2-confirm{
    background-color: #0fb2a6;
    border-radius: 10rem;
    transition: 0.3s;
}

.swal2-actions:not(.swal2-loading) .swal2-styled:hover{
    background-color: #0d988e;
}

.swal2-styled:focus{
    outline: 0;
    box-shadow: 0 0 0 2px #0fb2a6, 0 0 0 4px rgba(15, 178, 166, 0.4);
}

.content-master{
    background-color: #444;
    box-shadow: 0 1px 12px #111;

}
.swal2-header, .swal2-content, .swal2-actions, .swal2-footer{
    transform: scale(0.8) !important;
}

.swal2-content{
    color: #fff;
}
/* Error Alert */

.title-error{
    color: #d73333;
    text-transform: uppercase;
}
.swal2-icon.swal2-error{
    border-color: #da3333;
}
.swal2-icon.swal2-error [class^=swal2-x-mark-line]{
    background-color: #da3333;
}

/* Question Alert */

.question-wizard{
    font-size: 1rem;
}
.swal2-icon.swal2-question{
    border-color: #8de4e2;
    color: #8de4e2;
}
.title-question{
    color: #8de4e2;
}
.button-cancel{
    background-color: #b12424 !important;
    border-radius: 10rem !important;
    transition: 0.3s !important;
}
.button-cancel:hover{
    background-color: #8b1b1b !important;
}
.button-cancel:focus{
    outline: 0;
    box-shadow: 0 0 0 2px #711414, 0 0 0 4px rgb(82, 17, 17);
}

/* Login Alert Successfully */

.swal2-popup{
    background-color: #444;
}
.swal2-title{
    color: #fff;
}
.swal2-popup.swal2-toast{
    box-shadow: 0px 0px 12px 0px;
}