/* Styles */



/* Landing */

.container-landing-master{
    width: 100%;

    grid-row: 1/2;
}
.container-header-landing{
    background-color: #020633;
    padding: 0.8rem 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}
.text-header-landing{
    color: #fff;
    font-family: 'Questrial', sans-serif;
    margin: 0;
    font-size: 0.9rem;
}
.icon-container-landing{
    font-size: 1.5rem;
    padding-right: 2rem;
}
.icon-landing{
    color: #fff;
}
.text-header-landing-two{
    margin: 0;
    color: #fff;
    cursor: pointer;
}
.bar-separator-landing{
    width: 1px;
    height: 2rem;
    background-color: #fff;
    margin: 0 1rem;
}
.container-body-landing{
    width: 100%;
    height: 100%;
    display: flex;
    grid-row: 2/13;
    display: flex;
    justify-content: center;
}
.container-landing-left-menu{
    width: 20%;
    display: flex;
    background-color: #062C59;
    align-items: center;
    padding: 3rem 0;
    flex-direction: column;
    position: relative;
}
.container-main-landing{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(12,1fr);
    overflow: hidden;
}
.user-default-left-menu{
    width: 4rem;
    pointer-events: none;
}
.text-left-menu{
    margin: 0;
    color: #fff;
    font-family: 'Questrial', sans-serif;
    line-height: 1;
    
}
.text-container-left-menu{
    padding: 0.5rem 0;
    text-align: center;
    width: 100%;
}
.span-left-menu{
    width: 110%;
    background-color: #27FCF6;
    position: absolute;
    left: 0%;
    padding: 0.4rem 0;
    display: flex;
    text-transform: uppercase;
    color: #062c59;
    justify-content: space-around;
    cursor: pointer;
}
.icon-span-plus{
    display: flex !important;
    align-items: center;
}
.container-span-left-menu{
    padding: 2rem 0;
}
.mark-left-menu{
    background-color: #778ba2;
    width: 336px;
    height: 280px;
    position: absolute;
    left: -5px;
    top: 116px;
    z-index: -1;
    -webkit-clip-path: polygon(64% 15%, 64% 23%, 76% 23%);
    clip-path: polygon(64% 15%, 64% 23%, 76% 23%);
}
.text-menu-left{
    color: #9ec7c6;
    margin: 0;
    font-family: 'Questrial', sans-serif;
    font-size: 1rem;
}
.container-master-text-menu-left{
    padding: 1.2rem 2rem;
    flex-direction: column;
    align-items: flex-start;
}
.container-text-menu-left{
    padding-bottom: 1rem;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    cursor: pointer;
    width: 100%;
}
.text-close-session{
    margin: 0;
    color: #fff;
    font-family: 'Questrial', sans-serif;
    text-transform: uppercase;
}
.container-text-close-session{
    background-color: #831193;
    margin: 0 2rem;
    padding: 7px;
    border-radius: 0.5rem;
    font-size: 0.8rem;
    cursor: pointer;
    transition: 0.3s;
}
.container-text-close-session:hover{
    background-color: #630c6e;
}
.container-texts-signout{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.icon-title-menu-left{
    color: #9ec7c6 !important;
}
.container-body-empty{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.body-empty-text{
    color: #000;
    margin: 0;
    padding: 1rem 0;
}
.img-empty-body{
    width: 14rem;
    pointer-events: none;
}
.text-buttom-create-proyect{
    color: #fff;
    margin: 0;
    text-transform: uppercase;
}
.buttom-create-proyect{
    background-color: #020633;
    padding: 0.3rem 3rem;
    border-radius: 0.7rem;
    cursor: pointer;
    transition: 0.3s;
}
.buttom-create-proyect:hover{
    background-color: #01031a;
}