.project-unique-container {
    width: 100%;
    padding: 2rem 3rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

hr {
    width: 100% !important;
    height: 1px !important;
    border: none !important;
    background: #1b245b;
    margin-bottom: 0.7rem;
}

.title {
    /* font-size: 1.2em; */
    color: #1b245b;
}

.container-unique-project-name {
    grid-column: 1/4;
    grid-row: 1/2;
}
.unique-project-name{
    margin: 0;
    margin-left: 0.5rem;
    color: #fff;
}
.container-project-name{
    display: flex;
    align-items: center;
    color: #fff;
    background-color: #062C59;
    height: 100%;
    border-radius: 2rem;
    justify-content: center;
    transition: 0.3s;
    font-size: 0.75rem;
}
.container-project-name:hover{
    background-color: rgb(4, 31, 65);
    cursor: default;
}
.section-text-status {
    grid-column: 4/6;
    grid-row: 1/2;
}
.informe-general {
    margin-top: 1em;
    grid-column: 1/6;
    grid-row: 2/13;
}
.panel-actualizaciones {
    margin-top: 1em;
    grid-column: 1/6;
    grid-row: 2/13;
    transition: 0.3s;
}
.informe-especifico {
    margin-top: 1em;
    grid-column: 7/13;
    grid-row: 2/13;
}
.zona-carga {
    margin-top: 1em;
    grid-column: 7/13;
    grid-row: 2/13;
    transition: 0.3s;
}
.text-state-project{
    margin: 0;
    color: #062c59;
}
.container-text-state{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-master-progress-bar{
    grid-column: 6/10;
    grid-row: 1/2;
}
.container-progress-bar{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-progress-bar .ant-progress-bg{
    background-color: #11ccc6 !important;
    height: 0.6rem;
}
.container-master-updates-proyect-unique{
    height: 100%;
    width: 100%;
}
.container-updates-proyect-unique{
    width: 100%;
    overflow: auto;
    overflow-x: hidden;
    height: 67vh;
}
.container-update{
    display: grid;
    grid-template-columns: 80% 1fr;
    background-color: #f7f7f7;
    padding: 0.6rem 0.8rem;
    margin-right: 0.5rem;
}
.container-update:not(:first-child){
    margin-top: 0.7rem;
}
.text-update{
    margin: 0;
    font-size: 0.6875rem;
    display: flex;
    align-items: center;
    margin-left: 0.5rem;
}
.date-update{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.6875rem;
}
.container-updates-proyect-unique::-webkit-scrollbar {
    width: 0.3rem;
    background-color: #062C59;
    border-radius: 2rem;
}
.container-updates-proyect-unique::-webkit-scrollbar-thumb {
    background-color: #11CCC6;
    margin-right: 1rem;
    border-radius: 2rem;
}
.container-date-data{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.container-update-data{
    display: flex;
    align-items: center;
}
.container-master-upload-zone{
    display: flex;
    flex-direction: column;
}
.container-master-upload-zone .filepond--drop-label.filepond--drop-label label{
    font-size: 0.75rem;
}
.buttom-upload-zone{
    background-color: #0b3f80;
    padding: 0.6rem 2rem;
    width: fit-content;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 2rem;
}
.buttom-upload-zone:hover{
    background-color: #042349;
}
.buttom-text-upload-zone{
    color: #fff;
    margin: 0;
}
.container-master-buttom{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.container-master-chart{
    width: 100%;
    height: 68vh;
    background-color: #323232;
    border-radius: 1rem;
}

.container-chart {
    padding: 0.8rem 1rem;
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 100%;
    grid-gap: 1rem;
}
.container-chart div {
    width: 100% !important;
}
.categories-container-project-unique{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
}
.single-cat-project-unique{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 0.5rem 0;
    color: white;
    border-radius: 10px;
    box-shadow: 0 3px 8px #181818;
    font-size: 0.8125rem;
    transition: ease-in-out 200ms;
}
.container-chart-vertical{
    width: 100%;
    height: 68vh;
    display: flex;
    justify-items: center;
    align-items: center;
}
.container-chart-vertical .main-barchart-container{
    width: 100% !important;
    height: 100% !important;
    display: flex !important;
    align-items: center !important;
}
.container-chart-vertical canvas{
    padding: 0 1rem;
}
.container-bars{
    background-color: #323232;
    border-radius: 1rem;
    width: 100%;
    height: 100%;
}
.container-changebuttoms{
    grid-column: 10/13;
    grid-row: 1/2;
    padding-left: 1rem;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.container-master-buttoms{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5rem;
}
.text-change-screen-project-unique{
    margin: 0;
    color: #fff;
    margin-left: 0.3rem;
}
.container-buttom-change-screen{
    background-color: #0b3f80;
    padding: 0.7rem 1.5rem;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 2rem;
}
.container-buttom-change-screen:hover{
    background-color: #0FB2A6;
}
.active-buttom{
    background-color: #0FB2A6;
}