.container-master-solicitudes-view{
    width: 100%;
    height: 100%;
    padding: 2rem 3rem;
}
.container-solicitudes{
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-gap: 1.5rem;
    height: 100%;
}
.container-left-solicitudes-view{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: auto 8% 1fr;
}
.container-right-solicitudes-view{
    height: 100%;
    width: 100%;
    position: relative;
}
.text-description-solicitudes-view{
    margin: 0;
    font-size: 0.75rem;
    margin-left: 0.4rem;
}
.date-description-solicitudes-view{
    margin: 0;
    font-size: 0.75rem;
    margin-left: 0.4rem;
}
.container-master-title-solicitudes-view{
    background-color: #F7F7F7;
    padding: 0.8rem;
    border-radius: 0.5rem;
}
.container-master-title-solicitudes-view:not(:first-child){
    margin-top: 0.7rem;
}
.container-text-solicitudes-view{
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}
.container-date-solicitudes-view{
    display: flex;
    line-height: 0;
    align-items: center;
}
.text-open-chat{
    margin: 0;
}
.container-buttom-solicitudes-view{
    background-color: #003c86;
    border-radius: 2rem;
    color: #fff;
    padding: 0.3rem 1rem;
    font-size: 11px;
    width: fit-content;
    margin-top: 0.5rem;
    transition: 0.4s;
    cursor: pointer;
}
.container-buttom-solicitudes-view:hover{
    background-color: #002f68;
}
.text-new-solicitud-view{
    margin: 0;
}
.container-text-new-solicitud{
    color: #fff;
    transition: 0.4s;
    cursor: pointer;
    background-color: #003c86;
    padding: 0.6rem 1rem;
    display: flex;
    align-items: center;
    border-radius: 8px;
    line-height: 0;
    height: fit-content;
}
.container-text-new-solicitud:hover{
    background-color: #002c61;
}
.container-all-master-solicitudes-view{
    width: 100%;
    overflow: auto;
    overflow-x: hidden;
    height: 67vh;
}
.container-all-master-solicitudes-view::-webkit-scrollbar {
    width: 0rem;
    background-color: #ffffff00;
}
.container-all-master-solicitudes-view::-webkit-scrollbar-thumb {
    background-color: #ffffff00;
}
.container-empty-data-solicitudes{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text-empty-data-solicitudes{
    margin: 0;
}
.robot-empty-solicitudes{
    width: 10rem;
    margin-bottom: 1.5rem;
    pointer-events: none;
}
.container-new-solicitudes-view{
    width: 100%;
    top: 0;
    transition: 0.3s;
}
.text-create-new-solicitud-view{
    margin: 0;
}
.container-create-new-solicitud-view{
    padding-bottom: 0.6rem;
    font-size: 1.2rem;
}
.container-master-chat-solicitudes-view{
    background-color: #fdfdfd;
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 1rem;
    top: 0;
    z-index: 5;
    border-radius: 1.5rem;
    box-shadow: 0px 0px 18px 0px #00000036;
    display: grid;
    grid-template-rows: 1fr 5% 70% 5% 1fr;
    transition: 0.3s;
    left: 120%;
}
.container-body-chat-solicitudes-view{
    overflow-y: scroll;
    height: 53vh;
    box-sizing: border-box;
    overflow-x: hidden;
}
.container-body-chat-solicitudes-view::-webkit-scrollbar {
    width: 0.5rem;
}
.container-body-chat-solicitudes-view::-webkit-scrollbar-thumb {
    background-color: #0fb2a6;
    margin-right: 1rem;
}
.hide{
    opacity: 0;
}
.show{
    opacity: 1;
}
.show-chat{
    left: 0%;
}
.hide-chat{
    left: 120%;
}
.container-master-emptydata-solicitudes-user{
    width: 100%;
    display: flex;
    position: absolute;
    top: 35%;
    align-items: center;
    flex-direction: column;
    transition: 0.3s;
}
.container-text-emptydata-solicitudes-user{
    margin: 0;
    font-size: 1.2rem;
    opacity: 1;
}
.icon-emptydata-solicitudes-user{
    color: #e40000 !important;
    font-size: 4rem;
    margin-bottom: 1rem;
}
.container-textname-solicitud-single{
    background-color: #831193;
    padding: 0.5rem 2rem;
    border-radius: 5rem;
    display: flex;
    color: #fff;
    height: fit-content;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    text-align: center;
}
.textname-project-single{
    margin: 0;
}